

.header{
	text-align: center;
	background-color: #2AC940;
	overflow: hidden;
}
.box {
	border-style: solid;
	border-color: white
}
#main{
	padding-left: 50px;
	padding-right: 50px;
}

.container{
	display: grid;
	grid-column-gap: 1em;
	grid-template-columns: 30% 70%;
	margin: 40px
}
.container div{
	/*border: 2px #644646 solid;*/
	/* background-color: #FFCAB1; */
	padding: 10px;
}
.header div{
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 35px;
	padding-left: 35px;
	background-color: #2AC940;
}
.name{
	color:white;
}
body{
	font-family: sans-serif;
	margin: 0;
	background-color: white; 
}
#contacts{
	grid-row: 1/6;
	background-color:#E0E0E0;
}
#contacts p{
	display: flex;
	float: bottom;
}
img{
	width: 250px;
	display: block;
	margin: 10px auto;
	border-radius: 50%;
}

h3
p{
	padding: 20px;
	display: flex;
	color:#3A3335
}
h1{
	font-family: 'Times New Roman', Times, serif;
	color:#3A3335
}
h2{
	font-family: 'Times New Roman', Times, serif;
	color:#3A3335
}
.li{
	display: flex;
	color:#3A3335
}
.c1{
border:1px;
width: auto;
}
.c2{
border: 1px;
flex-wrap: wrap;
width: 80%;
padding-left: 50px; 
}

#icon{
	vertical-align: text-top;
	padding-right: 10px;
	width: 40px;
	height: 40px;
	list-style-type: none;
}
.link{
	text-align: left;
	list-style-type: none;
}

.bighr{
	background-color: #3A3335;
	height: 3px;
}
.grid-container {
	display: inline-flex;
  }
.skills{
	display: flex;
	flex: 1fr,1fr
}
#skill1{
	padding-right: 20%
}

